*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

#first-nav { 
    background: rgb(22, 22, 22);


}
#first-nav img {
    position: relative;
    left: 80%;
    top: 52px;
    margin: 8px;
}
#first-nav h1 {
    color: white;
    height: 80px;
    padding: 2px 70px;
}
.navbar {
    
    overflow: hidden;
    background-color: rgb(22, 22, 22);
    border: solid 1px rgb(80, 80, 80);
    
  }
  
  /* Navigation links */
  .navbar a {
    font-weight: 200;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(80, 80, 80);
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

#banner {
    text-align: center;
    padding: 80px;
    background-image: url(https://placeimg.com/1000/300/tech);
    color: white;
}

#items { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 48px;
}


#items .item-product {
    width: 24%;
    text-align: center;
    border: 1px solid #999;
    margin: 12px auto;
}

#items .item-product img {
    width: 100%;
}

#items .item-product p {
    margin: 12px;
    line-height: 32px;

}

@media screen and (max-width: 768px) {
    #banner {
        padding: 20px;
    }

    #banner h1 {
        font-size: 36px;
    }

    #items { 
        padding: 24px;
    }

    #items .item-product {
        width: 48%;
    }
}

@media screen and (max-width: 425px) {
    

    #second-nav .second-nav-links {
        display: none;
        position: absolute;
        top: 36px;
        right: 0px;
        background: white;
    }

    #second-nav .second-nav-hamburger {
        border: 1px solid gray;
        text-align: center;
    }

    #second-nav .second-nav-hamburger:hover + .second-nav-links {
        display: flex;
        flex-direction: column;
        text-align: right;
    }



    #items { 
        padding: 12px;
    }

    #items .item-product {
        width: 100%;
    }
}